* {
	box-sizing: border-box;
}

body {
	padding-top: 100px;
	font-family: Arial, Helvetica, sans-serif;
}

div
{
    background-color: #eeeeee;
    width: 1000px;
    height: 650px;
    padding: 50px;
    margin: 0 auto;
}

section
{
    width: 900px;
    height: 250px;
    background-color: #bcbbcb;
    margin-bottom: 50px;
    padding: 50px;

}

article
{
    display: inline-block;
    width: 230px;
    height: 150px;
    background-color:hotpink;
    font-size: 25px;
    font-weight: bold;
}